aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
aiosqlite==0.21.0
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1743190139881/work
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio==3.7.1
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1728387726672/work
attrdict==2.0.1
attrs==25.3.0
Authlib==1.2.1
babel @ file:///croot/babel_1737454360933/work
backoff==2.2.1
bce-python-sdk==0.9.35
bcrypt==4.3.0
beautifulsoup4 @ file:///work/perseverance-python-buildout/croot/beautifulsoup4-split_1728385754779/work
bleach @ file:///io/buildout/croot/bleach_1732918169505/work
blinker==1.9.0
blis==1.3.0
boltons @ file:///croot/boltons_1737061692168/work
Brotli @ file:///croot/brotli-split_1736182456865/work
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
certifi @ file:///croot/certifi_1745939216646/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chromadb==1.0.12
click==8.2.0
click-default-group==1.2.4
cloudpathlib==0.21.1
coloredlogs==15.0.1
comm @ file:///work/perseverance-python-buildout/croot/comm_1728387093347/work
conda @ file:///croot/conda_1743715288469/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1744662537425/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1744823864153/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1731366181659/work
condense-json==0.1.3
confection==0.1.5
contourpy==1.3.2
cryptography @ file:///croot/cryptography_1740577825284/work
cssselect==1.3.0
cssutils==2.11.1
cycler==0.12.1
cymem==2.0.11
Cython==3.1.2
dataclasses-json==0.6.7
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
dotenv==0.9.9
durationpy==0.10
easyocr==1.7.2
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
faiss-cpu==1.11.0
fastapi==0.115.9
fastjsonschema @ file:///io/buildout/croot/python-fastjsonschema_1735874150137/work
filelock==3.18.0
filetype==1.2.0
fire==0.7.0
Flask==2.3.3
flask-babel==4.0.0
Flask-Cors==4.0.0
flatbuffers==25.2.10
fonttools==4.58.0
fqdn==1.5.1
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
frozenlist==1.7.0
fsspec==2025.5.1
future==1.0.0
fuzzywuzzy==0.18.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpcio==1.72.1
h11==0.16.0
h2==4.2.0
hf-xet==1.1.3
hpack==4.1.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.32.4
humanfriendly==10.0
hyperframe==6.1.0
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
imageio==2.37.0
imgaug==0.4.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1744912971218/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.1.2
jedi @ file:///croot/jedi_1733987392413/work
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
json5 @ file:///io/perseverance-python-buildout/croot/json5_1731701245495/work
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer==2.1
jsonschema @ file:///io/perseverance-python-buildout/croot/jsonschema_1731700598024/work
jsonschema-specifications @ file:///io/perseverance-python-buildout/croot/jsonschema-specifications_1731700488901/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///io/buildout/croot/jupyter_client_1739558249609/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1728385169811/work
jupyter_server @ file:///croot/jupyter_server_1741200034823/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///io/buildout/croot/jupyterlab_1742574277019/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///io/buildout/croot/jupyterlab_server_1742574181361/work
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
kubernetes==33.1.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.21
langchain-text-splitters==0.3.8
langcodes==3.5.0
langdetect==1.0.9
langsmith==0.3.45
language_data==1.3.0
lazy_loader==0.4
Levenshtein==0.27.1
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
llm==0.25
lmdb==1.6.2
lxml==5.4.0
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1728387994477/work
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline @ file:///io/buildout/croot/matplotlib-inline_1732912690718/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1728387286143/work
menuinst @ file:///croot/menuinst_1738943416351/work
mistune @ file:///croot/mistune_1741124011532/work
mmh3==5.1.0
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.4.4
murmurhash==1.0.13
mypy_extensions==1.1.0
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///work/perseverance-python-buildout/croot/nbformat_1728385580878/work
nest_asyncio @ file:///work/perseverance-python-buildout/croot/nest-asyncio_1728387361665/work
networkx==3.5
ninja==1.11.1.4
nltk==3.9.1
notebook @ file:///io/buildout/croot/notebook_1742574573735/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numpy==2.3.0
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.22.0
openai==1.79.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-asgi==0.55b1
opentelemetry-instrumentation-fastapi==0.55b1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.55b1
opt-einsum==3.3.0
orjson==3.10.18
outcome==1.3.0.post0
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1728386766389/work
packaging @ file:///croot/packaging_1734472117206/work
paddleocr==2.7.3
paddlepaddle==3.0.0
pandas==2.2.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pdf2docx==0.5.8
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow==11.2.1
platformdirs @ file:///croot/platformdirs_1744273042065/work
playwright==1.52.0
pluggy @ file:///croot/pluggy_1733169602837/work
portalocker==2.10.1
posthog==4.7.0
premailer==3.10.0
preshed==3.0.10
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt_toolkit @ file:///work/perseverance-python-buildout/croot/prompt-toolkit_1728511366266/work
propcache==0.3.2
protobuf==5.29.5
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
puremagic==1.29
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.23.0
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pyee==13.0.0
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT==2.8.0
PyMuPDF==1.26.0
pyparsing==3.2.3
pypdf==5.6.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-iso639==2025.2.18
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-Levenshtein==0.27.1
python-magic==0.4.27
python-multipart==0.0.6
python-oxmsg==0.0.2
python-ulid==3.0.0
pytz==2025.2
PyYAML==6.0.2
pyzmq @ file:///croot/pyzmq_1734687138743/work
qdrant-client==1.14.2
RapidFuzz==3.13.0
rarfile==4.2
referencing @ file:///io/perseverance-python-buildout/croot/referencing_1731700447964/work
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339_validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1728386296008/work
rfc3986_validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1728386318037/work
rich @ file:///croot/rich_1732638981168/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa==4.9.1
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
selenium==4.33.0
Send2Trash @ file:///croot/send2trash_1736540790175/work
sentence-transformers==4.1.0
setuptools==78.1.1
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1728385708765/work
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
sqlite-fts4==1.0.3
sqlite-migrate==0.1b0
sqlite-utils==3.38
srsly==2.5.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.45.3
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1728386365608/work
thinc==8.3.6
threadpoolctl==3.6.0
tifffile==2025.6.1
tiktoken==0.9.0
tinycss2 @ file:///io/buildout/croot/tinycss2_1739558158888/work
tokenizers==0.21.1
torch==2.7.1
torchvision==0.22.1
tornado @ file:///croot/tornado_1747918059467/work
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1728385099292/work
transformers==4.52.4
trio==0.30.0
trio-websocket==0.12.2
triton==3.3.1
truststore @ file:///croot/truststore_1736550121485/work
typer==0.16.0
types-python-dateutil==2.9.0.20250516
typesense==1.1.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
unstructured==0.17.2
unstructured-client==0.36.0
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.23.2
uvloop==0.21.0
visualdl==2.5.3
wasabi==1.1.3
watchfiles==1.0.5
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.4.1
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1728385731103/work
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.1
zipp==3.23.0
zstandard @ file:///croot/zstandard_1731356346222/work
